[init]
  defaultBranch = master
[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  ignorecase = false
  autocrlf = input
  pager = hunk pager
[push]
  default = current
  autoSetupRemote = true
[pull]
  rebase = false
[alias]
  s = status -sb
  co = checkout
  cb = checkout -b
  l = log --all --graph --decorate --oneline
  ll = log --stat --abbrev-commit
  amend = commit --amend
  redo = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  undo = reset --mixed HEAD^
[url "git@github.com:"]
  insteadOf = gh:
  insteadOf = github:
  pushInsteadOf = git://github.com/
[include]
  path = ~/.gitconfig.local
